body {
    font-family: Avenir Next;
    background-color: #000000;
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.blink_me {
  animation: blinker 5s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

