body {
    font-family: sans-serif;
    background-color: #1c2e4c;
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

